@import "tailwindcss";
@import "tailwind-squircle2/css";

@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/Avenir Next LT Pro Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/Avenir Next LT Pro Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/Avenir Next LT Pro Bold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/Avenir Next LT Pro Bold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next";
  src: url("./assets/fonts/Avenir Next LT Pro It.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@theme {
  /* Global Colors */
  --color-app-bg: hsla(240, 6%, 16%, 1);
  --color-foreground: #ffffff;

  /* Typography */
  --font-avenir: "Avenir Next", system-ui, sans-serif;
  --font-sans: var(--font-avenir);
}

:root {
  background-color: var(--color-app-bg);
  color: var(--color-foreground);
  font-family: var(--font-avenir);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}